html{
    scroll-behavior: smooth;
}
body{
    max-height: 100%;
    width: 1440px;
    margin: auto;
    background-color: #FFFFFF;
}
*, ::after, ::before {
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 0;
}
.Back_top{
    display: flex;
    justify-content: center;
}
.Back_top>img{
    position: absolute;
    z-index: 0;
}
header{
    width: 1440px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(242, 120, 92, 0.7);
    position: absolute;
    z-index: 1;
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    color: white;
    padding: 0px 120px;
}
header>div>p{
    font-family: 'Magra';
    font-style: normal;
    letter-spacing: 0.45px;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
}
header>div>svg{
    margin-top: -5px
}
a{
    text-decoration: none;
    color: white;
}
header>div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 31px;
    width: 208px;
}
header>button{
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    color: white;
    border-style: none;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    width: 103px;
    height: 41px;
}
header>nav>ul>li{
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    padding: 0;
}
header>nav>ul{
    padding: 0;
    margin: 0;
    width: 527px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
header>nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: -30px;
}
li {
    list-style-type: none;
}
.preview{
    width: 1440px;
    position: absolute;
    z-index: 1;
    top: 122px;
}
.preview>div{
    width: 892px;
    margin-left: 120px;
    color: #FFFFFF;
}
.preview>h1{
    width: 1000px;
    padding-left: 120px;
    color: #FFFFFF;
    margin: 0;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
}
.preview>div>p{
    margin-top: 33px;
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}
.preview>div>div{
    margin-top: 46px;
    width: 892px;
    height: 95px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 18px;
}
input{
    background-color: #0d606f00;
    border-style: none;
    width: 560px;
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-left: 20px;
}
input::placeholder {
    color: #F2785C;
}
.preview>div>div>button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 229px;
    height: 59px;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    border-style: none;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}
.steps{
    width: 1440px;
    position: absolute;
    z-index: 1;
    top: 845px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.steps>h2{
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
    margin: 0;
    margin-bottom: 40px;
}
.mini_steps{
    width: 1177px;
    display: flex;
    justify-content: space-between;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}
.mini_steps>div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.mini_steps>div>div{
    width: 100px;
    height: 100px;
    background: #F2785C;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.step_2{
    margin-left: 72px;
}
.destinations{
    width: 1440px;
    position: absolute;
    z-index: 1;
    top: 1189px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}
.destinations>h2{
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
    margin: 0;
}
.destinations>button{
    padding: 0 31px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 228px;
    height: 59px;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin-top: 40px;
}
.slider{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.slider>div{
    width: 800px;
    height: 800px;
    border-radius: 16px;
    margin: 0 30px;
    margin-top: 46px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
    display: flex;
    align-items: flex-end;
    padding: 8px 15px;
}
.ellipses{
    margin-top: 24px;
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.ellipse{
    width: 20px;
    height: 20px;
    background: rgba(242, 120, 92, 0.5);
    border-radius: 50%;
}
.ellipse.active{
    background: #F2785C;
}
.Back_down{
    display: flex;
    justify-content: center;
}
.Back_down>img{
    top: 2404px;
    position: absolute;
    z-index: 0;
}
.stories{
    width: 1440px;
    position: absolute;
    top: 2311px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.stories>h2{
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
    margin: 0;
    margin-bottom: 40px;
}
.stories>div{
    width: 1442px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.7);
    padding-top: 25px;
}
.stories>div>div{
    width: 1200px;
    display: flex;
    margin: 15px 0;
}
.stories>div>div>div{
    width: 760px;
    display: flex;
    flex-direction: column;
}
.stories>div>div>img{
    width: 400px;
    height: 250px;
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
    margin-right: 40px;
}
.stories>div>div>div>h3{
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #0D606F;
    margin: 0;
}
.stories>div>div>div>p{
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
    margin: 0;
    margin-top: 25px;
}
.stories>div>div>div>a{
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #0D606F;
    margin: 0;
}
.stories>div>button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    align-items: center;
    width: 228px;
    height: 59px;   
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    padding: 0 39px 0 33px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    margin: 26px 0 40px 4px;
}
footer{
    margin-left: 15px;
    width: 1440px;
  
    position: absolute;
    top: 3674px;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 5px;
}
.rights{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rights>p{
    text-align: center;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}
.social{
    text-align: end;
    margin-right: 121.04px;
    margin-left: 328px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social>svg{
    margin-right:18px;
}
button:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: inset 0 -10px 5px -4px rgba(255, 255, 255, 0.4);
}
.more:hover{
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: inset 0 -10px 5px -4px rgba(255, 255, 255, 0.4);
}
.start:hover{
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: inset 0 -10px 5px -4px rgba(255, 255, 255, 0.4);
}
li>a:hover{
    cursor: pointer;
    transition: all 0.3s ease;
    color: #0D606F;
}
.social>svg:hover{
    cursor: pointer;
    transition: all 0.3s ease;
    transform: scale(1.2);
}